<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css">
    <title>Document</title>
</head>

<body>
    <div class="footer | bgc-primary-500">
        <div class="container-de">
            <div class="grid py-650">
                <div class="grid__col | flex-col clr-neutral-100">
                    <div class="grid__col-header fs-450">Toccoa Branch</div>
                    <div class="grid__col-location flex-col gap-0">
                        <div><i class="fa fa-map-marker clr-accent-400 mr-200"></i>1067 Mize Road</div>
                        <div>P.O. Box 280</div>
                        <div>Toccoa, GA 30577</div>
                    </div>

                    <div class="grid__col-contact flex-col gap-0">
                        <div><i class="fa fa-phone clr-accent-400 mr-200"></i><a class="clr-neutral-100" href="tel:+7068861411">(706)
                                886-1411</a></div>
                        <div><i class="fa fa-envelope-o clr-accent-400 mr-200"></i><a class="clr-neutral-100"
                                href="mailto:mail@ngcu.org">mail@ngcu.org</a></div>
                    </div>

                </div>

                <div class="grid__col | flex-col clr-neutral-100">
                    <div class="grid__col-header fs-450">Lavonia Branch</div>
                    <div class="grid__col-location flex-col gap-0">
                        <div><i class="fa fa-map-marker clr-accent-400 mr-200"></i>11850 Augusta Road</div>
                        <div>Lavonia, GA 30553</div>
                    </div>

                    <div class="grid__col-contact flex-col gap-0">
                        <div><i class="fa fa-phone clr-accent-400 mr-200"></i><a class="clr-neutral-100" href="tel:+7063567001">(706)
                                356-7001</a></div>

                    </div>

                </div>
                <div class="grid__col | flex-col clr-neutral-100">
                    <div class="grid__col-header fs-450">Hartwell Branch</div>
                    <div class="grid__col-location flex-col gap-0">
                        <div><i class="fa fa-map-marker clr-accent-400 mr-200"></i>249 East Franklin Street</div>
                        <div>Hartwell, GA 30643</div>
                    </div>

                    <div class="grid__col-contact flex-col gap-0">
                        <div><i class="fa fa-phone clr-accent-400 mr-200"></i><a class="clr-neutral-100" href="tel:+7063766961">(706)
                                376-6961</a></div>
                    </div>

                </div>

                <div class="grid__col | flex-col clr-neutral-100">
                    <img class="m-inline-auto"
                        src="https://dev1.growthbydesign.org/wp-content/uploads/2022/12/equalhousing.png" alt=""
                        srcset="" width="25%">
                    <img class="m-inline-auto"
                        src="https://dev1.growthbydesign.org/wp-content/uploads/2022/12/ncua-logo-footer.jpg" alt=""
                        srcset="" width="50%">
                    <img class="m-inline-auto"
                        src="https://dev1.growthbydesign.org/wp-content/uploads/2022/12/2022-LSCU-Member.png" alt=""
                        srcset="" width="80%">

                </div>
            </div>
        </div>

        <hr>
        <div class="container-de">
            <div class="bottom-footer text-center py-450">
                <small class="clr-neutral-100">Copyright 2022 All Rights Reserved by North Georgia Credit Union. Federally Insured by NCUA.</small>
            </div>
        </div>
    </div>
</body>

</html>