<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="[ notification-bar ] [ mb-2 ] [ border-b-8 border-primary-400 ]">
      <div class="[ container-de ]">
        <div class="[ grid gap-1 ] [ py-2 ] [ text-center ] [ clr-accent-400 ] [ fw-semi-bold ]">
          <div class="[ fs-24 ]">
            <strong>NGCU will be CLOSED for the Annual Meeting on Saturday, February 11.</strong>
          </div>
          <div class="[ fs-20 ]">
            <strong><a class="[ clr-accent-400 ] [ underline ]" href="https://www.ngcu.org/2023-annual-meeting/">Click Here</a> to Register.</strong>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
