@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// PADDING BLOCK

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}