@use '/src/sass/abstracts/' as *;

// .sp-ea-single{
//     background-color: transparent !important;
//     border: 0 !important;
//     border-bottom: 1px solid #D3D3D3 !important;
//     a{
//         color: $clr-primary-400 !important;
//         font-size: $fs-425;
//         font-family: $ff-primary;
//         font-weight: $fw-regular;
//         i{
//             color: $clr-primary-400 !important;
//         }
//     }
//     .ea-body{
//         color: $clr-neutral-700 !important;
//     }
// }

// .ea-header {
//     background-color: $clr-primary-400;

//     a {
//         color: $clr-neutral-100 !important;

//         .ea-expand-icon {
//             color: $clr-neutral-100 !important;
//         }
//     }
// }

// .ea-body {
//     ul {
//         list-style-image: url("https://dev3.growthbydesign.org/wp-content/uploads/2022/11/plus-clear.png");
//         margin-left: 2rem !important;
//     }
// }