@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.modal-window-content {
  font-size: $fs-400;
  font-family: $ff-primary;
  color: $clr-neutral-700;
  padding: 0.75rem !important;

  display: flex !important;
  flex-direction: column;
  gap: 1rem;
}

@media (min: 40em) {
  .modal-window-content {
    padding: 1rem 2rem;
  }
}

.modal-window-content h2 {
  font-size: 1.5rem;
}

.vc_btn3 {
  color: $clr-accent-400;
}

// .modal-btn-wrapper {
//     display: flex;
//     justify-content: center;
//     gap: 2rem;
// }

// .btn-modal-cancel {
//     background-color: $clr-accent-400;
//     color: $clr-neutral-100;
// }

// .btn-modal-continue {
//     background-color: $clr-primary-400;
//     color: $clr-neutral-100;
// }
